#figure {
  font-size: 12px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
}

#bg {
  fill: rgb(255, 255, 255);
  opacity: 0;
  stroke: none;
  z-index: 0;
}

text {
  fill: rgb(52, 55, 65);
}

.edge {
  stroke: rgb(178, 181, 182);
  stroke-width: 2px;
  cursor: pointer;
  transition: stroke-width 50ms;
}

.edge.selected {
  stroke: rgb(164, 167, 169);
  stroke-width: 4px;
}

.node {
  cursor: pointer;
}

.node circle {
  stroke-width: 0;
  transition: stroke-width 60ms;
}

.node.selected circle {
  stroke-width: 8px;
}

.node text {
  font-size: 10px;
  font-weight: 400;
}

#card {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 15%;
  width: 70%;
  height: auto;
  align-items: flex-end;
  background-color: rgb(229, 230, 228);
  font-size: 12px;
}

#card.hidden {
  display: none;
}

#card-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
}

#card-x {
  cursor: pointer;
}

#card-title {
  width: 100%;
  text-align: center;
}

#description {
  margin: 4px 0;
}

#ctrl-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}

.group-by {
  /* Override Wordpress styles for form elements */
  font-size: inherit;
  font-weight: inherit;
}

select.group-by {
  margin: 8px 0;
}

#legend-box {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

#legend {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#legend div {
  flex-shrink: 0;
  margin: 4px 4px 0 0;
}

.legend-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: auto 4px auto 0;
  border-radius: 5px;
}

.heading {
  font-weight: 600;
  color: rgb(121, 125, 130);
}

div.heading {
  margin: 4px 0;
}

span.heading {
  display: block;
}

.right {
  text-align: right;
}

/* LARGER SCREENS */
/* (Responsiveness could be improved...) */
@media (min-width: 480px) {
  #legend-box {
    width: auto;
  }
  #legend {
    flex-direction: column;
  }
  #card {
    width: 40%;
    top: 16px;
    right: 16px;
  }
}
